*{
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  font-family: 'Montserrat', sans-serif;
}

.container{
  max-width: 1080px;
  margin: 0 auto;
}

/* HEADER */

.main-menu{
  padding-top: 20px;
}

.main-menu .logo img{
	width: 150px;
  filter: brightness(100);
}

.content-flex{
	display: flex;
}

.content-flex-center{
	justify-content: space-between;
	align-items: center;
}

.header{
  height: 80px;
  padding: 0px 0px 20px 0px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  transition: all 0.3s ease-in-out;
  color: #000;
  z-index: 1;
}

.header.header-scrolled{
	background-color: rgb(15,32,39, 0.7);
  z-index: 2;
}

.nav-menu{
	padding: 0;
	margin: 0;
	list-style: none;
}

.nav-menu li {
	margin-left: 10px;
	position: relative;
	white-space: nowrap;
	display: inline-block;
	cursor: pointer;
}

.nav-menu a {
	padding: 0 8px 0px 8px;
	text-decoration: none;
	color: #fff;
	font-weight: bold;
	font-size: 16px;
	letter-spacing: 3px;
	transition: all 0.3s ease-in-out;
}

.nav-menu a:hover{

}

.nav-menu a:hover{

}

/* BANNER */
.banner{
   background: linear-gradient(45deg, rgb(15,32,39, 1), rgb(44,83,100, 0.5)), url('../img/a.jpg') no-repeat;
   background-size: cover;
   background-attachment: fixed;
}

.banner-content {
	display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
}

.banner-content h1{
  font-family: 'Rubik Mono One', sans-serif;
  color: #f1f1f1;
  font-weight: normal;
  text-align: center;
}

.scroll{
  position: absolute;
  bottom: 28px;
  animation: action 0.5s infinite alternate;
  z-index: 9;
}

.scroll img{
  width: 30px;
}

@keyframes action {
  0% { transform: translateY(0); }
  100% { transform: translateY(-20px); }
}


/* ARTIKEL POST */

.content-post{
  display: flex;
  padding-top: 50px;
  padding-bottom: 50px;
  /* border-bottom: 1px solid #ccc; */
}

.content-gambar{
  width: 33%;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.content-gambar img{
  width: 100%;
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}

.content-detail{
  width: 67%;
  position: relative;
}

.content-detail:first-child{
  /* border-left: 5px solid #2C5364; */
  text-align: right;
  padding-right: 25px;
}

.content-detail:last-child{
  /* border-right: 5px solid #2C5364; */
  text-align: left;
  padding-left: 25px;
}

.content-detail h1{
  margin: 0;
  font-weight: lighter;
  color: #222;
  transition: all 0.3s ease-in-out;
}

.content-detail .h1-left{
  text-align: left;
}

.content-detail .h1-right{
  text-align: right;
}

.content-detail p{
  line-height: 20px;
  color: #484848;
  font-size: 13px;
}

.content-button:last-child{
  right: 0;
  margin-right: 25px;
}

.content-button{
  bottom: 0;
  position: absolute;
  padding: 10px;
  width: 150px;
  background: none;
  color: black;
  border: 3px solid #2C5364;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.content-button .btn{
  color: #2C5364;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
}

a .content-post:hover > .content-gambar img{
  transform: scale(1.3);
}

 a .content-post:hover > .content-detail .content-button {
  background: #2C5364;
}

a .content-post:hover > .content-detail .content-button .btn{
  color: #fff;
}

a .content-post:hover > .content-detail h1{
  color: #2C5364;
}

.gradient{
  width: 442px;
  height: 317px;
  position: absolute;
  background: linear-gradient(90deg, rgb(15,32,39, 0.5), rgb(44,83,100, 0.5));
  z-index: 1;
}

.subtitle-post{
  letter-spacing: 5px;
  color: #484848;
  font-size: 36px;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 0;
  text-align: center;
}

.main-title-post{
  letter-spacing: 5px;
  font-size: 20px;
  margin-top: 0;
  font-weight: lighter;
  color: #222;
  text-align: center;
}

/* ABOUT US */
.banner-content-page{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 350px;
  position: relative;
}

.banner-content-page h1{
  font-family: 'Rubik Mono One', sans-serif;
  color: #f1f1f1;
  font-weight: normal;
  text-align: center;
}

.aboutus-content{
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
}

.aboutus-gambar{
  width: 33%;
  overflow: hidden;
  border-radius: 10px;
}

.aboutus-gambar img{
  width: 100%;
}

.aboutus-detail{
  width: 67%;
}

.aboutus-detail p,
.aboutus-detail h3{
  line-height: 20px;
  color: #484848;
  font-size: 13px;
  margin-top: 0;
  margin-left: 25px;
}

/* FOOTER */

.footer-area{
	background-color: #222;
	color: #fff;
	padding: 10px;
	width: 100%;
	text-align: center;
}

.footer-area a{
	color: #FBD786;
	text-decoration: none;
}
